@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

/* nav */
.col-nav {
  background-color: rgb(12, 18, 20);
  text-align: center;
  border: 12px;
  width: 100%;
  padding: 2px;
  animation-name: aparecer;
  animation: aparecer 2s;
}
.col-nav .img-log {
  height: 150px;
  width: 150px;
}
.col-nav .nav-link {
  text-decoration: none;
  list-style-type: none;
  text-transform: uppercase;
  color: darkgray;
}
.col-nav .nav-link:hover {
  color: rgb(16, 241, 121);
}

/* index */
body {
  grid-template-areas: "header" "productos" "marcas " "footer";
  grid-template-rows: auto 1fr auto auto;
  grid-template-columns: 1fr;
}
body header {
  grid-area: header;
}
body section#productos {
  grid-area: productos;
}
body section#marcas {
  grid-area: marcas;
}
body footer {
  grid-area: footer;
}

@media (min-width: 768px) {
  #grilla {
    display: grid;
    grid-template-areas: "header header" "productos marcas" "footer footer ";
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 4fr 1fr;
    min-height: 100vh;
  }
  .img-section {
    width: 300px;
    height: 250px;
  }
}
#productos {
  background: linear-gradient(rgb(215, 222, 223), rgb(29, 67, 95));
  color: darkslategrey;
  padding: 1rem;
}
#productos .img-section {
  width: 100%;
  height: auto;
}

.section2 {
  background: linear-gradient(rgb(28, 70, 90), rgb(215, 222, 223));
  text-align: center;
  padding: 1rem;
}
.section2 .section-boxprod {
  margin: 10px;
  padding: 5px;
}
.section2 .section-boxprod .section2-marc {
  width: 250px;
  height: 250px;
}

/* footer */
.footer {
  text-align: center;
  background-color: grey;
}
.footer .footer-iconos {
  background-color: rgb(105, 145, 153);
  display: flex;
  justify-content: center;
}
.footer .footer-iconos .footer-iconos2 {
  margin: 10px;
  padding: 5px;
}
.footer .footer-iconos .footer-iconos2 .footer-iiconos {
  width: 40px;
  height: 40px;
}
.footer .footer-copyright {
  text-decoration: none;
  color: black;
}

.productos {
  background: linear-gradient(rgb(215, 222, 223), rgb(29, 67, 95));
  color: darkslategrey;
  padding: 1rem;
  text-align: center;
}
.productos .psection-prod {
  padding: 5px;
  margin: 10px;
  background: linear-gradient(rgb(61, 35, 56), rgb(109, 183, 193));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.productos .psection-prod .img-prod {
  width: 250px;
  height: 250px;
}
.productos .psection-prod .ppsection123 {
  font-size: 1rem;
  font-weight: 350;
}
.productos .psection-prod input {
  background-color: darkslategray;
  border-color: aqua;
  align-content: center;
  padding: 3px;
}

.cmaincompra {
  background: linear-gradient(rgb(215, 222, 223), rgb(137, 50, 173));
  text-align: center;
  min-height: 100vh;
  padding: 1rem;
}
.cmaincompra .carrito-box {
  padding: 15px;
  margin: 15px;
}
.cmaincompra .carrito-box .carrito {
  width: 150px;
  height: 150px;
}

.nosotros {
  text-align: center;
  background: linear-gradient(rgb(217, 223, 215), rgb(55, 139, 207));
  min-height: 100vh;
}
.nosotros .nsection1 {
  font-size: 1.5rem;
  font-weight: 300;
}
.nosotros .nsection1 .nos {
  height: auto;
  background-color: rgb(161, 111, 111);
  background-image: linear-gradient(rgb(41, 51, 48), #89d389);
  color: white;
}

.tmaintcn {
  text-align: center;
  background: linear-gradient(rgb(141, 148, 138), rgb(87, 62, 120));
  min-height: 100vh;
}
.tmaintcn .tsection1 {
  font-size: 1.5rem;
  font-weight: 300;
}
.tmaintcn .tsection1 .tdiv-box {
  padding: 30px;
  margin: 30px;
  background: linear-gradient(rgb(6, 94, 84), rgb(132, 116, 152));
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.tmaintcn .tsection1 .tdiv-box .imgtcnsec {
  width: 100%;
  height: auto;
  margin-bottom: 1rem;
}
.tmaintcn .tsection1 .tdiv-box button {
  background-color: darkslategray;
  border-color: aqua;
  padding: 3px;
}

/*# sourceMappingURL=style.css.map */
