.tmaintcn {
  text-align: center;
  background: linear-gradient(rgb(141, 148, 138), rgb(87, 62, 120));
  .tsection1 {
    font-size: 1.5rem;
    font-weight: 300;
    .tdiv-box {
      padding: 30px;
      margin: 30px;
      background: $backgroundt;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      .imgtcnsec {
        width: 100%;
        height: auto;
        margin-bottom: 1rem;
      }
      button {
        background-color: $color-button;
        border-color: $border-button;
        padding: 3px;
      }
    }
  }
}
